DOCKER_REGISTRY=ghcr.io/insecia/insecia-web/

NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_VERSION=$npm_package_version
NEXT_PUBLIC_NAME=$npm_package_name

NEXT_PUBLIC_API_CMS_BASE_URL=https://login.insecia.com/api/v1/cms/
NEXT_PUBLIC_API_CMS_PROXY_BASE_URL=https://proxy.inseciacloud.net/proxy/cms/
NEXT_PUBLIC_API_CMS_API_KEY=0
NEXT_PUBLIC_API_CMS_PROJECT_ID=000

NEXT_PUBLIC_API_MAIL_HOST=relay48.mailtransferagent.net
NEXT_PUBLIC_API_MAIL_PORT=25
NEXT_PUBLIC_API_MAIL_SECURE=false
NEXT_PUBLIC_API_MAIL_USER=relay@insecia.com
NEXT_PUBLIC_API_MAIL_PASSWORD=0
NEXT_PUBLIC_API_MAIL_RECEIVER=noreply@insecia.com
